<nav class="navbar fixed-top navbar-dark">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{method}}">{{status}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{todo}}">{{action}}</a>
  </li>
</ul>
</nav>

<div class="card">
    <div class="card-header bg-secondary"><H2 class="text-light">Logged out</H2>
    </div>
    <div class="card-body bg-light"><p>You have successfully logged out! Click <a href="/">here</a> to go home</p></div>
</div>