<nav class="navbar fixed-top navbar-dark">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{method}}">{{status}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{todo}}">{{action}}</a>
  </li>
</ul>
</nav>

 
  <div class="container">
        <div class="card-header bg-secondary">
            <h2 class="text-light">New Blog</h2>
        </div>
        <div class="card-body bg-light">
        <form action="/new" method="post">
          <div class="form-group">
            <label for="formGroupExampleInput">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter a title" required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Content</label>
            <textarea type="text" class="form-control" id="post" name="post" placeholder="Type your post here" rows="20" required></textarea>
          </div>
          <button type="submit" class="btn btn-secondary">Post Blog</button>
        </form>
        </div>
        </div>