a {
    color:cadetblue;
}

a:hover {
    color:rgb(122, 201, 207)
}

h1, h2, h5 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.comment {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    
}